<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Tdd4.net blog</title>
        @{ this.Asset("bootstrap-min.js"); }
        @{ this.Asset("bootstrap.min.css"); }

        @this.WriteAssetTags()
    </head>
    <body>
        <div class="hero-unit">
  <h1>TDD 4 .NET</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    this is my sidebar
                </div>
                <div class="span10">
                    @RenderBody()
                </div>
            </div>
        </div>
        

        
    </body>
</html>